.vscode/**
.vscode-test/**
.git/**
.gitignore
.claude/**
scripts/**
CLAUDE.md
docs/**
test/**
src/**
node_modules/**
out/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
tsconfig.test.json
.vscode-test.mjs
**/.eslintrc*
**/*.vsix
